
#addproject {
    margin-top:50px;
}

.add-project-form {
    width:50%;
}


#homepage {
    width:100%;
    height:100%;
    display:table;
}
.submit-file-btn {
  font:12px/1.5 tahoma,arial,sans-serif;
  vertical-align:middle;
  cursor: pointer;
}

.project-info {
}

.project-item {
  font-size:18px;
  font-family:"Microsoft YaHei",Helvetica, Arial, sans-serif;
}

.container-list {
  width:30%;
  margin:0 auto;
}

.project-upload {
  width:30%;
  margin:0 auto;
  padding: 20px 20px;
}
