body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#addproject {
  margin: 50px 375px;
}

.wapper {
  .make-row();
  width: 600px;
  margin: 0 auto;
}

.submit-file-btn {
  font:12px/1.5 tahoma,arial,sans-serif;
  vertical-align:middle;
  cursor: pointer;
}

.project-info {
}

.project-item {
  font-size:18px;
  font-family:"Microsoft YaHei",Helvetica, Arial, sans-serif;
}

.container-list {
  width:30%;
  margin:0 auto;
}

.project-upload {
  width:30%;
  margin:0 auto;
  padding: 20px 20px;
}
