{% extends "layout.html" %}
{% block body %}
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Sign in for FAE</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember_me"> Remember me
            </label>

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br>
         <label>
                <wb:login-button type="4,4" onlogin="login" onlogout="logout">weibo Login</wb:login-button>
         </label>
    </form>

</div>

{% endblock %}
