{% set page_title = "project-info" %}
{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="page-header text-center">
        <h1>{{ project.pname }}&nbsp;&nbsp;<small>项目简介</small></h1>
    </div>

    <div class="project-info">
        <div class="row">
            <div class="col-md-6 text-right">
              <p class="project-item">名称:</p>
            </div>
            <div class="col-md-6 text-left">
              <p class="project-item">
                {{ project.pname }}
              </p>
            </div>

            <div class="col-md-6 text-right">
              <p class="project-item">项目简介:</p>
            </div>
            <div class="col-md-6 text-left">
              <p class="project-item">
                {{ project.intro }}
            </div>

            <div class="col-md-6 text-right">
              <p class="project-item">应用类型:</p>
            </div>
            <div class="col-md-6 text-left">
              <p class="project-item">
                <span class="label label-default">{{ project.ptype }}</span>
            </div>
        </div>
    </div>

    <div class="project-upload" >
        <div class="row">
            <div class="col-md-10">
                <p>change file</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <input id="path" name="path" type="file">
                <button class="btn btn-default submit-changefile-btn">upload</button>
            </div>
        </div>

        <div class="row">
            <hr />
        </div>
    </div>


    <div class="container-list">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                    容器列表
                    </div>
                    
                    <div class="col-md-4" style="text-align:right;">
                        <a class="btn btn-default btn-xs">new</a>
                    </div>
                </div>
            </div>
        </div>
        
        <ul class="list-group">
        {% for i in containers %}
            <li class="list-group-item">
            <span class="badge">
                {{ i.image }}
            </span>
                {{ i.ip }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
