
{% if current_user.is_authenticated() %}
{% set page_title = current_user.username %}
{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="text-center">
    <h1 align="center">
      {{ current_user.username }} 当前的项目列表
    </h1>
  </div>

  <div class="col-md-10">
      <div class="text-right">
        <a class="btn btn-default" href="{{ url_for('project.add_project')}}">
          新增项目
        </a>

      </div>
  </div>
   
 <table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>type</th>
            <th>create-time</th>
        </tr>
    </thead>
    <tbody>
    {% for i in projects %}
        <tr>
            <th scope="row">{{ i.pid }}</th>
            <th><a href="http://{{ i.pname }}.fae.com">{{ i.pname }}</a></th>
            <th>{{ i.ptype }}</th>
            <th>{{ i.create_at }}</th>
       </tr>
    {% endfor%}
    </tbody>
 </table>
</div>
{% endblock %}
{% endif %}
