<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="fohnwind.">
    <meta name="description" content="simple F app engine" >
    <title>
    {% block title %}
        {%- if not page_title -%}
            {{ fae_config["PROJECT-TITLE"] }} - {{ fae_config["PROJECT_SUBTITLE"] }}
        {%- else -%}
            {{ page_title }} - {{ fae_config["PROJECT_TITLE"] }}
        {%- endif -%}
    {% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='css/plugins/morris.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<!--script src="{{ url_for('static', filename='scripts/fwd.js') }}" type="text/javascript" charset="utf-8"></script-->
</head>
<body>
    <div class="homepage">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
    </nav>

    {% block body %}
   
    {% endblock %}
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    </div>
</body>
</html>
