<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="fohnwind.">
    <meta name="description" content="simple F app engine" >
    <title>
    {% block title %}
        {%- if not page_title -%}
            {{ fae_config["PROJECT-TITLE"] }} - {{ fae_config["PROJECT_SUBTITLE"] }}
        {%- else -%}
            {{ page_title }} - {{ fae_config["PROJECT_TITLE"] }}
        {%- endif -%}
    {% endblock %}
    </title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=4181570995" type="text/javascript" charset="utf-8"></script>

</head>
<body>
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block javascript %}
    <script src="{{ url_for('static', filename='scripts/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>